@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IUnitOfWork _uow
@inject IJSRuntime _ijsr
@inject IFileUpload _fu

<div class="col-11">
    <h4 class="card-title text-primary">Products</h4>
</div>
<div class="col-1">
    <a href="/product/create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
</div>
<div class="col-12">
    <QuickGrid @ref="quickGridRef" ItemsProvider="entityProvider" Class="table" Pagination="@pagination">
        <PropertyColumn Property="entity => entity.Name" />
        @* <PropertyColumn Property="entity => entity.ShopFavorites" title="Shop Favorites" />
        <PropertyColumn Property="entity => entity.CustomerFavorites" title="Customer Favorites" /> *@
        <TemplateColumn Context="entity" Title="Shop Favorites" Align="Align.Center">
            <input type="checkbox" checked="@(entity.ShopFavorites)" onclick="return false;" />
        </TemplateColumn>
        <TemplateColumn Context="entity" Title="Customer Favorites" Align="Align.Center">
            <input type="checkbox" checked="@(entity.CustomerFavorites)" onclick="return false;" />
        </TemplateColumn>
        <PropertyColumn Property=" entity=> entity.CategoryDto!.Name" />
        <TemplateColumn Context="entity" Title="Actions">
            <NavLink href="@($"/product/edit/{entity.Id}")" class="btn btn-primary"><i class="bi bi-pencil-square"></i>
            </NavLink>
            @* When there is no interactivity and using ssr only use forms
            <form @formname="@($"delete-{entity.Id}")" @onsubmit="async () => await Delete(entity.Id)"
            method="POST">
            <AntiforgeryToken />
            <button type="submit" class="btn btn-danger">Delete</button>
            </form> *@
            <NavLink @onclick="async () =>  await Delete(entity.Id)" class="btn btn-danger"><i
                    class="bi bi-trash-fill"></i></NavLink>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="@pagination" />
</div>
<Spinner />
