@page "/product/price/{entityId:int}"
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using Syncfusion.Blazor.Grids

@inject IUnitOfWork _uow

<div>
    <h3 class="card-title text-primary mb-3 ml-3">Product Price Management</h3>
    @if (ProductDto is null)
    {
        <div class="text-center">
            <img src="/images/loading.gif">
        </div>
    }
    else
    {
        <div class="row border p-2 mb-4">
            <div class="col-md-11">
                <div class="card-body">
                    <h4>@ProductDto.Name</h4>
                    <span style="display:block;">Category : @ProductDto.CategoryDto?.Name</span>
                    <span style="display:block;">Description : @((MarkupString)ProductDto.Description)</span>
                </div>
            </div>
            <div class="col-md-1">
                <img src="@($"{SD.appUrl}{ProductDto.ImageUrl}")" class="w-100" alt="@ProductDto.Name" />
            </div>
        </div>

        @if (ProductPrices is not null)
        {
            <SfGrid @ref="sfGridRef" DataSource="@ProductPrices" AllowPaging="true" AllowFiltering="true" AllowSorting="true"
                Toolbar="@(new List<string>() { "Add", "Cancel", "Update" })">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu" />
                <GridPageSettings PageSize="@SD.paginationDefaultSize" PageCount="5" PageSizes="true" />
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true"
                    Mode="EditMode.Normal" />
                <GridEvents OnActionBegin="OnGridActionBegin" OnActionComplete="OnGridActionComplete"
                    TValue="ProductPriceDto" />
                <GridColumns>
                    <GridColumn Field=@nameof(ProductPriceDto.Id) HeaderText="Id" IsPrimaryKey="true" Visible="false" />
                    <GridColumn Field=@nameof(ProductPriceDto.ProductId) HeaderText="ProductId" Visible="false" />
                    <GridColumn Field=@nameof(ProductPriceDto.Size) HeaderText="Size">
                        <EditTemplate>
                            <Syncfusion.Blazor.DropDowns.SfDropDownList DataSource="Sizes" TItem="string" TValue="string"
                                @bind-Value="((context as ProductPriceDto)!.Size)" />
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(ProductPriceDto.Price) HeaderText="Price" Format="C2" />
                    <GridColumn HeaderText="Manage">
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.Edit"
                                ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-edit", CssClass="e-flat" })">
                            </GridCommandColumn>
                            <GridCommandColumn Type="CommandButtonType.Delete"
                                ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-delete", CssClass="e-flat" })">
                            </GridCommandColumn>
                            <GridCommandColumn Type="CommandButtonType.Save"
                                ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-save", CssClass="e-flat" })">
                            </GridCommandColumn>
                            <GridCommandColumn Type="CommandButtonType.Cancel"
                                ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-cancel-icon", CssClass="e-flat" })">
                            </GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        }
    }
</div>
