@page "/product/create"
@page "/product/edit/{entityId:int}"
@attribute [StreamRendering]
@attribute [Authorize]

@inject IUnitOfWork _uow
@inject NavigationManager _nm
@inject IFileService _fu
@inject IJSRuntime _ijsr
@inject IConfiguration Configuration

<BlazorStore.PageScript.PageScript Src="./Components/Pages/Product/ProductUpsert.razor.js?productupsert" />
<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Product</h3>
    <div class="col-md-10">
        @if (ProductVm is null)
        {
            <div class="text-center">
                <img src="/images/loading.gif">
            </div>
        }
        else
        {
            <EditForm Model="ProductVm" OnValidSubmit="Upsert" FormName="product-upsert" method="POST"
                enctype="multipart/form-data">
                <DataAnnotationsValidator />
                @* <ValidationSummary /> *@
                <div class="form-group">
                    <label>Name:</label>
                    <InputText @bind-Value="ProductVm.Name" class="form-control" />
                    <ValidationMessage For="()=>ProductVm.Name"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <InputTextArea @bind-Value="ProductVm.Description" id="ProductVm_Description" class="form-control">
                    </InputTextArea>
                </div>

                <div class="form-group">
                    <label>Color:</label>
                    <InputText @bind-Value="ProductVm.Color" class="form-control" />
                    <ValidationMessage For="()=>ProductVm.Color"></ValidationMessage>
                </div>

                <div class="row pt-3">
                    <div class="form-group col-6">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="ProductVm.ShopFavorites" class="form-check-input" />
                            <label class="form-check-label">Is Shop Favorite:</label>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="ProductVm.CustomerFavorites" class="form-check-input" />
                            <label class="form-check-label">Is Customer Favorite:</label>
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="form-group col-6">
                        <label>Category:</label>
                        <InputSelect @bind-Value="ProductVm.CategoryId" class="form-select">
                            <option value="0" disabled selected>-- Select Category --</option>
                            @foreach (var category in Categories)
                            {
                                <option value="@category.Id">@category.Name
                                </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="()=>ProductVm.CategoryId"></ValidationMessage>
                    </div>

                    <div class="form-group col-6">
                        <label style="display:block;">Image upload:</label>
                        <InputFile name="ProductVm.Image" @bind-Value="ProductVm.Image" />
                        <input type="hidden" name="ProductVm.ImageUrl" @bind="ProductVm.ImageUrl" />
                        <!-- This below should work but there is a bug so need to use "name" insstead of "bind-Value" -->
                        @* <InputFile @bind-Value="ProductDto.Image" /> *@
                        <!-- This below is for multiple file uploads -->
                        @* <InputFile @bind-Value="ProductDto.Image" multipe/> *@
                        <!-- This below is for interactiveServer or interactiveWebassebmly mode -->
                        @* <InputFile OnChange="(e)=> PostImage(e, ProductDto?.ImageUrl)" /> *@
                    </div>
                </div>

                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">@Title</button>
                    <NavLink href="/product" class="btn btn-secondary">Cancel</NavLink>
                </div>
            </EditForm>
            @if (submissionError)
            {
                <div class="bg-danger">@message</div>
            }
            else
            {
                <div class="bg-success">@message</div>
            }

        }
    </div>
    <div class="col-md-2">
        @if (!string.IsNullOrWhiteSpace(ProductVm?.ImageUrl))
        {
            <img src="@($"{SD.appBaseUrl}{ProductVm.ImageUrl}")" class="w-100" alt="@ProductVm?.Name" />
        }
    </div>
</div>
<Spinner />
