@rendermode @(new InteractiveServerRenderMode(prerender: true))
@inject IUnitOfWork _uow
@inject IJSRuntime _ijsr

<div class="col-11">
    <h4 class="card-title text-primary">Categories</h4>
</div>
<div class="col-1">
    <a href="/category/create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
</div>
<div class="col-12">
    <QuickGrid @ref="quickGridRef" ItemsProvider="entityProvider" Class="table" Pagination="@pagination">
        <PropertyColumn Property="entity => entity.Name" />
        <TemplateColumn Context="entity" Title="Actions">
            <NavLink href="@($"/category/edit/{entity.Id}")" class="btn btn-primary"><i class="bi bi-pencil-square"></i>
            </NavLink>
            @* When there is no interactivity and using ssr only use forms
            <form @formname="@($"delete-{entity.Id}")" @onsubmit="async () => await Delete(entity.Id)"
            method="POST">
            <AntiforgeryToken />
            <button type="submit" class="btn btn-danger">Delete</button>
            </form> *@
            <NavLink @onclick="async () => await Delete(entity.Id)" class="btn btn-danger"><i
                    class="bi bi-trash-fill"></i></NavLink>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="@pagination" />
</div>
<Spinner />
